.service_wrapper{
  width: 100%;
  margin-top: 60px;
  min-width: 300px;
}

.service_title{
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 130%;
  color: #1D1D1D;
  margin-bottom: 16px;
}

.service_content{
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  color: #616161;
  margin-bottom: 4px;
}

.service_btn_wrapper{
  margin-top: 44px;
  width: 100%;
  > div{
    display: inline-block;
    margin-bottom: 58px;
    > div{
      vertical-align: top;
    }
  }
}

.service_btn_icon{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
  display: inline-block;
  background-size: 60px !important;
  cursor: pointer;
}

.service_btn_1{
  background: url(../images/agreements/intro.svg);

}

.service_btn_2{
  background: url(../images/agreements/notice.svg);
}

.service_btn_3{
  background: url(../images/agreements/report.svg);
}

.service_btn_4{
  background: url(../images/agreements/question.svg);
}

.service_btn_5{
  background: url(../images/agreements/frequency.svg);
}

.service_btn_content_wrapper{
  display: inline-block;
  > div:first-child{
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    color: #1D1D1D;
    margin-bottom: 8px;
  }
  > div:last-child{
    width: 290px;
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 170%;
    color: #616161;
  }
}

.agreement_title{
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 130%;
  text-align: center;
  color: #1D1D1D;
  margin-top: 60px;
  margin-bottom: 36px;
  min-width: 320px;
}

.agreement_content{
  background: #FAFAFA;
  padding: 20px;
  margin: 0 20px 100px;
  width: auto;
  min-width: 280px;
}

.notice_title{
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 130%;
  color: #1D1D1D;
  margin-top: 60px;
}

.notice_wrapper{
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 100px;
  min-width: 340px;
}

.notice_item_wrapper{
  margin-top: 32px;
  position: relative;
  display: inline-block;
  > div{
    margin-top: 28px;
    height: 76px;
    border-bottom: 1px solid #E8E8E8;
    cursor: pointer;
    > div:first-child{
      font-family: Spoqa Han Sans Neo;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 130%;
      color: #1D1D1D;
    }
    > div:last-child{
      font-family: Spoqa Han Sans Neo;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
      color: #616161;
      margin-top: 4px;
    }
  }
}

.notice_notice{
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #1D1D1D;
  margin-top: 60px;
}

.notice_item_title{
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  color: #1D1D1D;
  margin-top: 28px;
}

.notice_item_date{
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #616161;
  margin-top: 8px;
}

.notice_item_content{
  margin-top: 36px;
  border-top: 1px solid #e8e8e8;
  padding-top: 36px;
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #1D1D1D;
  white-space: pre-wrap;
}

.notice_back_btn{
  width: 200px;
  height: 40px;
  background: #E8E8E8;
  border-radius: 2px;
  margin-top: 44px;
  cursor: pointer;
  > div{
    display: inline-block;
    vertical-align: top;
  }
  > div:first-child{
    width: 24px;
    height: 24px;
    margin-top: 8px;
    margin-left: 24px;
    background: url(../images/agreements/notice_back.svg);
  }
  > div:last-child{
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #1D1D1D;
    margin-top: 12px;
    margin-left: 4px;
  }
  &:hover{
    background: #A8A8A8;
  }
}

.frequency_q{
  position: absolute;
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: bold;
  font-size: 18px!important;
  line-height: 130%;
  color: #1D1D1D!important;
  top: 0;
  margin: -2px 0 0 !important;
  height: 23px;
  vertical-align: top;
}

.inquiry_value{
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 170%;
  color: #1D1D1D;
  margin-bottom: 4px;
}

.inquiry_input{
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  width: 100%;
  height: 48px;
  padding: 0 12px;
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  outline: none;
  margin-bottom: 20px;
}

.inquiry_textarea{
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  width: 100%;
  min-height: 120px;
  padding: 14px 12px;
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  outline: none;
  margin-bottom: 20px;
  resize: none;
}

.inquiry_btn{
  margin-top: 40px;
  height: 48px;
  width: 100%;
}

@media (max-width: 600px) {
  .service_wrapper{
    margin-right: 20px;
    margin-left: 20px;
    width: auto;
  }

  .service_btn_icon{
    margin-right: 12px;
    width: 48px;
    height: 48px;
    background-size: 48px !important;
  }

  .service_btn_wrapper{
    > div{
      margin-bottom: 34px;
    }
  }

  .service_btn_content_wrapper{
    width: calc(100% - 60px);
    > div:first-child{
      font-size: 20px;
      margin-bottom: 4px;
    }
    > div:last-child{
      font-size: 14px;
    }
  }
}

.pop_btn{
  display: inline-block;
  float: right;
  width: 66px;
  height: 36px;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 11px;
  vertical-align: top;
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  border-radius: 2px;
}

.ok_btn{
  background: #1D1D1D;
  color: #FFFFFF;
  &:hover{
    background: #404040;
    color: #ffffff;
  }
}

.cancle_btn{
  background: #fafafa;
  border: 1px solid #fafafa;
  color: #1D1D1D;
  &:hover{
    background: #E8E8E8;
    border: 1px solid #e8e8e8;
  }
}

.inquiry_content{
  margin-top: 36px;
  margin-bottom: 80px;
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #616161;
}

@media (min-width: 600px) and (max-width: 840px) {
  .service_wrapper{
    width: 560px;
    margin: 60px auto 0;
  }
  .service_btn_icon{
    margin-right: 16px;
  }
  .service_btn_wrapper{
    > div{
      margin-bottom: 48px;
    }
  }
}

@media (min-width: 840px) and (max-width: 1024px) {
  .service_wrapper{
    width: 760px;
    margin: 60px auto 0;
  }

  .service_btn_wrapper{
    > div{
      margin-bottom: 58px;
    }
  }

  .service_btn_content_wrapper{
    > div:last-child{
      margin-right: 10px;
    }
  }
}


@media (min-width: 1024px){
  .service_wrapper{
    width: 960px;
    margin: 60px auto 0;
  }
  .service_btn_content_wrapper{
    > div:last-child{
      margin-right: 110px;
    }
  }

  .agreement_content{
    background: #FAFAFA;
    padding: 20px;
    margin: 0 auto 100px;
    width: 960px;
  }
}

@media (min-width: 640px) {
  .notice_wrapper{
    width: 600px;
    margin: 0 auto 100px;
  }
}
