.background_top{
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 340px;
}

.content_cover_top{
  margin: 0 auto;
  vertical-align: middle;
  background: rgba(82, 82, 82, 0.5);
  backdrop-filter: blur(20px);
  text-align: center;
}

.content_top{
  margin: 0 auto;
  vertical-align: middle;
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: bold;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
}

.contents_cover_middle{
  min-width: 340px;
  > span{
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: bold;
    line-height: 130%;
    color: #3380F4;
  }
}

.content_title_middle{
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: bold;
  line-height: 150%;
  color: #000000;
}

.contents_group_middle{
  min-width: 340px;
}

.content_1_middle{
  background: #E8E8E8;
}

.sub_1_1_middle{
  background: #ffffff;
  border-radius: 10px;
  height: 84px;
}

.sub_1_1{
  display: block;
}

.sub_icon_1{
  background: url(../images/intro/sub_1_1_icon.svg);
}
.sub_icon_2{
  background: url(../images/intro/sub_1_2_icon.svg);
}
.sub_icon_3{
  background: url(../images/intro/sub_1_3_icon.svg);
}
.sub_icon_4{
  background: url(../images/intro/sub_1_4_icon.svg);
}

.sub_1_1_icon{
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  float: left;
}

.sub_1_1_title{
  width: 45px;
  display: inline-block;
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #1D1D1D;
  vertical-align: middle;
  margin-left: 8px;
  float: left;
  text-align: left;
}

.sub_1_1_content{
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #404040;
  float: left;
  display: block;
}

.sub_1_text{
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: bold;
  line-height: 150%;
  color: #000000;
}

.contents_sub_middle{

}

.content_sub_1{
  background: #FFF8DC;
}

.content_sub_2{
  background: #555BD6;
}

.contents_sub_text{
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  color: #1D1D1D;
}

.content_text_sub_2{
  color: #FFFFFF;
}

.contents_sub_img{
  margin: 0 auto;
}

.content_img_1{
  background: url(../images/intro/sub_1_1.svg);
  background-size: contain;
}

.content_img_2{
  background: url(../images/intro/sub_1_2.svg);
  background-size: contain;
}

.manual_title{
  margin: 0 auto;
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: bold;
  line-height: 150%;
  text-align: center;
  color: #000000;
  min-width: 340px;
}

.steps_group_middle{
  background: #3380F4;
  width: 100%;
  min-width: 346px;
}

.steps_title{
  color: #FFFFFF;
  margin: 0 !important;
}

.big_dots{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #ffffff;
  padding: 4px;
}

.dots_group{
  display: inline-block;
  margin-top: -4px;
}

.small_dots_top{
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background: #70A6F7;
}

.small_dots{
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background: #70A6F7;
  margin-left: 4px;
}

.first_line{
  width: 2px;
  height: 101px;
  background: #70A6F7;
  margin-left: 9px;
}

.after_line{
  width: 2px;
  height: 105px;
  background: #70A6F7;
  margin-left: 9px;
}

.finish_line{
  width: 2px;
  height: 71px;
  background: #70A6F7;
  margin-left: 9px;
}

.steps_group{

}

.steps_number{
  width: 12px;
  margin-top: 60px;
  display: inline-block;
  padding-top: 5.5px;
  >div{
    height: 26px;
    display: inline-block;
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    color: #70A6F7;
    margin-bottom: 88.8px;
  }
}

.manual_group{
  width: 1500px;
  height: 280px;
  text-align: left;
  margin-top: 60px;
  margin-left: calc(50% - 750px);
  margin-right: calc(50% - 750px);
  >div{
    display: inline-block;
    width: 280px;
    height: 280px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 20px;
  }
}

.manu_back1{
  background: #629AF9;
}
.manu_back2{
  background: #DCB859;
}
.manu_back3{
  background: #EC8783;
}
.manu_back4{
  background: #60BDB7;
}
.manu_back5{
  background: #343BAC;
}

.manual_grouper{
  width: 100%;
  text-align: center;
  margin-bottom: 160px;
}

.manual_text{
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 130%;
  color: #FFFFFF;
  margin: 24px;
  height: 58px;
}

.manual_img{
  width: 160px;
  height: 160px;
  margin-top: 18px;
  margin-left: 100px;
}

.manu1{
  background: url(../images/intro/manual_1.svg);
}
.manu2{
  background: url(../images/intro/manual_2.svg);
}
.manu3{
  background: url(../images/intro/manual_3.svg);
}
.manu4{
  background: url(../images/intro/manual_4.svg);
}
.manu5{
  background: url(../images/intro/manual_5.svg);
}

.background_bottom{
  background: #E5E5E5;
  padding: 80px 20px 100px;
  min-width: 340px;
}

.question_title_bottom{
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  color: #000000;
  min-width: 150px;
}

.answer_group{
  margin: 0 auto;
  min-width: 340px;
}

.question_card{
  background: #ffffff;
  height: 80px;
  border-radius: 20px;
  margin: 0 auto;
  min-width: 340px;
}

.question_icon{
  background: url(../images/intro/question_q.svg);
}

.question_content{
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  color: #1D1D1D;
  display: inline-block;
}

.answer_icon{
  background: url(../images/intro/question_a.svg);
}

.answer_content{
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: normal;
  line-height: 150%;
  color: #404040;
  display: inline-block;
}

@media (max-width: 600px) {
  .background_top{
    height: 600px;
    background-image: url(../images/intro/client_background_top_small.png);
  }

  .content_cover_top{
    width: 100%;
    border-radius: 20px;
    min-width: 320px;
    margin: auto;
  }

  .content_top{
    width: 100%;
    top: auto;
    bottom: auto;
    font-size: 18px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    padding: 40px 24px;
  }

  .contents_cover_middle{
    margin-top: 80px;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    > sapn{
      font-size: 16px;
    }
  }

  .content_title_middle{
    margin-top: 12px;
    font-size: 32px;
  }

  .contents_group_middle{
    margin-top: 40px;
    width: 100%;
    >div{
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 20px;
      border-radius: 20px;
      width: auto;
    }
  }

  .content_1_middle{
    height: 612px;
    padding-top: 40px;
  }

  .sub_1_1_middle{
    margin: 0px 24px 12px;
    width: auto;
  }

  .sub_1_1{
    display: block;
  }

  .sub_1_1_icon{
    margin-top: 18px;
    margin-left: 20px;
  }

  .sub_1_1_title{
    margin-top: 16px;
  }

  .sub_1_1_content{
    width: 100%;
    margin-left: 24px;
    margin-top: 4px;
  }

  .sub_1_text{
    font-size: 24px;
    margin-top: 32px;
    margin-left: 24px;
  }

  .contents_sub_middle{
    height: 400px;
    padding-top: 24px;
  }

  .contents_sub_text{
    font-size: 20px;
    height: 100px;
    margin-left: 24px;
    width: 273px;
  }

  .contents_sub_img{
    width: 220px;
    height: 220px;
    margin: 16px auto auto;
  }

  .manual_title{
    font-size: 28px;
    margin-top: 100px;
  }

  .steps_group{
    margin-left: 20px;
  }

  .steps_group_middle{
    height: 1076px;
    padding-top: 80px;
  }

  .manual_group{
    margin-top: 40px;
  }

  .manual_grouper{
    margin-bottom: 100px;
  }

  .question_card{
    width: 100%;
  }

  .answer_group{
    width: 100%;
  }

  .question_icon{
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-top: 28px;
    margin-left: 16px;
  }

  .answer_icon{
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-top: 13px;
    margin-left: 16px;
  }

  .question_content{
    font-size: 16px;
    margin-left: 8px;
    margin-top: 29px;
    vertical-align: top;
  }

  .answer_content{
    font-size: 14px;
    margin-left: 8px;
    margin-top: 13px;
    vertical-align: top;
    width: 264px;
  }

  .match_btn{
    width: 320px;
    height: 220px;
    margin: 0 auto;
    margin-top: 100px;
    background: url(../images/intro/btn_small.svg);
  }

}

@media (min-width:600px) and (max-width: 1024px) {
  .background_top{
    height: 700px;
    background-image: url(../images/intro/client_background_top_middle.png);
  }

  .content_cover_top{
    width: 560px;
    height: 300px;
    border-radius: 40px;
    margin-top: 200px;
  }

  .content_top{
    width: 464px;
    height: 144px;
    margin-top: 78px;
    margin-bottom: 78px;
    font-size: 24px;
  }

  .contents_cover_middle{
    margin: 120px auto 0;
    width: 560px;
    > span{
      font-size: 24px;
    }
  }

  .content_title_middle{
    margin-top: 20px;
    font-size: 40px;
  }

  .contents_group_middle{
    margin-top: 60px;
    width: 100%;
    text-align: center;
    >div{
      border-radius: 40px;
      width: 560px;
      margin: 0 auto 30px;
    }
  }

  .content_1_middle{
    height: 700px;
    padding-top: 64px;
  }

  .sub_1_1_middle{
    margin: 0px 48px 12px;
    width: 400px;
  }

  .sub_1_1{
    display: inline-block;
    float: left;
    vertical-align: center;
  }

  .sub_1_1_icon{
    margin-left: 24px;
    margin-top: 32px;
  }

  .sub_1_1_title{
    margin-top: 30px;
  }

  .sub_1_1_content{
    margin-top: 30px;
    display: inline-block;
    margin-left: 34px;
  }

  .sub_1_text{
    font-size: 32px;
    margin-top: 40px;
    margin-left: 48px;
    float: left;
    text-align: left;
  }

  .contents_sub_middle{
    height: 500px;
    padding-top: 40px;
  }

  .contents_sub_text{
    float: left;
    font-size: 24px;
    margin-left: 40px;
    text-align: left;
    width: 425px;
  }

  .contents_sub_img{
    width: 265px;
    height: 265px;
    margin: 147px auto auto;
  }

  .manual_title{
    font-size: 32px;
    margin-top: 160px;
  }

  .steps_group_middle{
    height: 1240px;
    padding-top: 120px;
    text-align: center;
  }

  .first_line{
    height: 113px;
  }

  .after_line{
    height: 130px;
  }

  .finish_line{
    height: 81px;
  }

  .steps_number{
    margin-top: 80px;
    width: 15px;
    padding-top: 2.8px;
    >div{
      height: 31px;
      font-size: 24px;
      margin-bottom: 95.6px;
    }
  }

  .steps_group{
    width: 520px;
    display: inline-block;
    margin: 0 auto;
  }

  .background_bottom{
    padding-top: 120px;
  }

  .question_title_bottom{
    font-size: 32px;
  }

  .question_card{
    width: 560px;
  }

  .answer_group{
    width: 560px;
  }

  .question_icon{
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-top: 24px;
    margin-left: 32px;
    background-size: 32px;
  }

  .question_content{
    font-size: 18px;
    margin-left: 24px;
    margin-top: 29px;
    vertical-align: top;
  }

  .answer_icon{
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-top: 20px;
    margin-left: 32px;
    background-size: 32px;
  }

  .answer_content{
    font-size: 18px;
    margin-left: 24px;
    margin-top: 22px;
    vertical-align: top;
    width: 452px;
  }

  .match_btn{
    width: 560px;
    height: 300px;
    margin: 0 auto;
    margin-top: 120px;
    background: url(../images/intro/btn_middle.svg);
  }
}

@media (min-width:1024px){
  .background_top{
    height: 800px;
    background-image: url(../images/intro/client_background_top_large.png);
  }

  .content_cover_top{
    width: 700px;
    height: 300px;
    border-radius: 40px;
    margin-top: 250px;
  }

  .content_top{
    width: 612px;
    height: 144px;
    margin-top: 96px;
    margin-bottom: 96px;
    font-size: 24px;
  }

  .contents_cover_middle{
    margin: 120px auto 0;
    width: 960px;
    > span{
      font-size: 24px;
    }
  }

  .content_title_middle{
    margin-top: 20px;
    font-size: 40px;
  }

  .contents_group_middle{
    margin-top: 60px;
    width: 100%;
    text-align: center;
    >div{
      border-radius: 40px;
      width: 960px;
      margin: 0 auto 30px;
    }
  }

  .content_1_middle{
    height: 500px;
    padding-top: 64px;
  }

  .sub_1_1_middle{
    display: inline-block;
    margin: 0px 48px 12px;
    width: 400px;
    float: left;
  }

  .sub_1_1{
    display: inline-block;
    float: left;
    vertical-align: center;
  }

  .sub_1_1_icon{
    margin-left: 24px;
    margin-top: 32px;
  }

  .sub_1_1_title{
    margin-top: 30px;
  }

  .sub_1_1_content{
    margin-top: 30px;
    display: inline-block;
    margin-left: 34px;
  }

  .sub_1_text{
    display: inline-block;
    font-size: 32px;
    text-align: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -40px;
    margin-left: -24px;
  }

  .contents_sub_middle{
    width: 465px !important;
    display: inline-block;
    margin-left: 15px !important;
    margin-right: 15px !important;
    height: 500px;
    vertical-align: top;
    padding-top: 40px;
  }

  .contents_sub_text{
    float: left;
    font-size: 24px;
    margin-left: 40px;
    text-align: left;
    width: 295px;
  }

  .contents_sub_img{
    width: 265px;
    height: 265px;
    margin: 147px auto auto;
  }

  .manual_title{
    font-size: 32px;
    margin-top: 120px;
  }

  .steps_group_middle{
    height: 1240px;
    padding-top: 120px;
    text-align: center;
  }

  .first_line{
    height: 113px;
  }

  .after_line{
    height: 130px;
  }

  .finish_line{
    height: 81px;
  }

  .steps_number{
    margin-top: 80px;
    width: 15px;
    padding-top: 2.8px;
    >div{
      height: 31px;
      font-size: 24px;
      margin-bottom: 95.6px;
    }
  }

  .steps_group{
    width: 520px;
    display: inline-block;
    margin: 0 auto;
  }

  .background_bottom{
    padding-top: 120px;
  }

  .question_title_bottom{
    font-size: 32px;
  }

  .question_card{
    width: 960px;
  }

  .question_icon{
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-top: 24px;
    margin-left: 48px;
    background-size: 32px;
  }

  .question_content{
    font-size: 20px;
    margin-left: 24px;
    margin-top: 27px;
    vertical-align: top;
  }

  .answer_group{
    width: 960px;
  }

  .answer_icon{
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-top: 20px;
    margin-left: 48px;
    background-size: 32px;
  }

  .answer_content{
    font-size: 20px;
    margin-left: 24px;
    margin-top: 21px;
    vertical-align: top;
    width: 716px;
  }

  .match_btn{
    width: 960px;
    height: 300px;
    margin: 0 auto;
    margin-top: 120px;
    background: url(../images/intro/btn_large.svg);
  }
}

