.background_top{
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 340px;
  height: calc(100vh - 56px) !important;
}

.content_cover_top{
  margin: 0 auto;
  vertical-align: middle;
  background: rgba(82, 82, 82, 0.5);
  backdrop-filter: blur(20px);
  text-align: center;
}

.content_top{
  margin: 0 auto;
  vertical-align: middle;
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: bold;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
}

.link_top{
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  color: #FFFFFF;
}

.contents_cover_middle{
  min-width: 340px;
  > span{
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: bold;
    line-height: 130%;
    color: #3380F4;
  }
}

.content_title_middle{
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: bold;
  line-height: 150%;
  color: #000000;
}

.contents_group_middle{
  min-width: 340px;
}

.content_1_middle{
  min-width: 320px;
  background: #1D1D1D;
}

.content_4_middle{
  background: #ffffff;
}

.sub_1_img{

}

.sub_4_img{
  background: url(../images/makerIntro/sub_1_4.svg);
}

.sub_1_text{
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: bold;
  line-height: 150%;
  color: #ffffff;
}

.sub_4_text{
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: bold;
  line-height: 150%;
  color: #1d1d1d;
}

.contents_sub_middle{
  min-width: 320px;
}

.content_sub_1{
  background: #FFF06A;
}

.content_sub_2{
  background: #2D60E4;
  overflow: hidden;
}

.contents_sub_text{
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  color: #1D1D1D;
}

.content_text_sub_2{
  color: #FFFFFF;
}

.contents_sub_img{
  margin: 0 auto;
}

.content_img_1{
  background: url(../images/makerIntro/sub_1_1.svg);
  background-size: contain;
}

.content_img_2{
  background: url(../images/makerIntro/sub_1_2.svg);
  background-size: contain;
}

.manual_title{
  margin: 0 auto;
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: bold;
  line-height: 150%;
  text-align: center;
  color: #000000;
  min-width: 340px;
}

.steps_group_middle{
  background: #1d1d1d;
  width: 100%;
  min-width: 346px;
}

.steps_title{
  color: #FFFFFF;
  margin: 0 !important;
}

.big_dots{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #ffffff;
  padding: 4px;
}

.dots_group{
  display: inline-block;
  margin-top: -4px;
}

.small_dots_top{
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background: #404040;
}

.small_dots{
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background: #404040;
  margin-left: 4px;
}

.first_line{
  width: 2px;
  height: 101px;
  background: #404040;
  margin-left: 9px;
}

.after_line{
  width: 2px;
  height: 105px;
  background: #404040;
  margin-left: 9px;
}

.finish_line{
  width: 2px;
  height: 112px;
  background: #404040;
  margin-left: 9px;
}

.steps_group{

}

.steps_number{
  width: 12px;
  margin-top: 60px;
  display: inline-block;
  padding-top: 5.5px;
  >div{
    height: 26px;
    display: inline-block;
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    color: #404040;
    margin-bottom: 88.8px;
  }
}

.background_bottom{
  background: #E5E5E5;
  padding: 80px 20px 100px;
  min-width: 340px;
}

.question_title_bottom{
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  color: #000000;
  min-width: 150px;
}

.answer_group{
  margin: 0 auto;
  min-width: 340px;
}

.question_card{
  background: #ffffff;
  height: 80px;
  border-radius: 20px;
  margin: 0 auto;
  min-width: 340px;
}

.question_icon{
  background: url(../images/intro/question_q.svg);
}

.question_content{
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  color: #1D1D1D;
  display: inline-block;
}

.answer_icon{
  background: url(../images/intro/question_a.svg);
}

.answer_content{
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: normal;
  line-height: 150%;
  color: #404040;
  display: inline-block;
}

.question_wrapper{

}

.btn_text_1{
  background: url(../images/intro/btn_text_1.svg) no-repeat;
  width: 188px;
  height: 66px;
  margin: 0 auto;
  display: none;
}

.btn_text_2{
  background: url(../images/intro/btn_text_2.svg) no-repeat;
  width: 110px;
  height: 21px;
  margin: 45px auto 0;
  display: none;
}


@media (max-width: 600px) {
  .background_top{
    height: 600px;
    background-image: url(../images/makerIntro/maker_background_top_small.svg);
  }

  .content_cover_top{
    width: 100%;
    border-radius: 20px;
    min-width: 320px;
    margin: auto;
    padding-bottom: 32px;
  }

  .content_top{
    width: 100%;
    top: auto;
    bottom: auto;
    font-size: 18px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    padding: 40px 24px 20px;
  }

  .link_top{
    font-size: 16px;
    top: auto;
    bottom: auto;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
  }

  .contents_cover_middle{
    margin-top: 80px;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    > sapn{
      font-size: 16px;
    }
  }

  .content_title_middle{
    margin-top: 12px;
    font-size: 32px;
  }

  .contents_group_middle{
    margin-top: 40px;
    width: 100%;
    >div{
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 20px;
      border-radius: 20px;
      width: auto;
    }
  }

  .content_1_middle{
    height: 652px;
    padding-top: 35px;
  }

  .content_4_middle{
    height: 400px;
    padding-top: 48px;
  }

  .sub_1_img{
    width: 276px;
    height: 417px;
    margin-left: 24px;
    background-size: 276px;
    background: url(../images/makerIntro/content_1_2x3.svg) no-repeat;
  }

  .sub_4_img{
    width: 208px;
    height: 92px;
    overflow: auto;
    margin-top: 86px;
    float: right;
    margin-right: 40px;
  }

  .sub_1_text{
    font-size: 24px;
    margin-top: 32px;
    margin-left: 24px;
  }

  .sub_4_text{
    font-size: 24px;
    margin-top: 0px;
    margin-left: 24px;
  }

  .contents_sub_middle{
    height: 400px;
    padding-top: 24px;
  }

  .contents_sub_text{
    font-size: 20px;
    height: 100px;
    margin-left: 24px;
    width: 273px;
  }

  .contents_sub_img{
    width: 220px;
    height: 220px;
    margin: 16px auto auto;
  }

  .content_img_2{
    width: 300px;
    height: 254px;
    margin: 32px auto 0;
  }
  .content_text_sub_2{
    width: 220px;
    height: 90px;
  }

  .manual_title{
    font-size: 28px;
    margin-top: 100px;
  }

  .steps_group{
    margin-left: 20px;
  }

  .steps_group_middle{
    height: 1014px;
    padding-top: 80px;
    margin-top: 100px;
  }

  .question_card{
    width: 100%;
  }

  .answer_group{
    width: 100%;
  }

  .question_icon{
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-top: 28px;
    margin-left: 16px;
  }

  .answer_icon{
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-top: 13px;
    margin-left: 16px;
  }

  .question_content{
    font-size: 16px;
    margin-left: 8px;
    margin-top: 29px;
    vertical-align: top;
  }

  .answer_content{
    font-size: 14px;
    margin-left: 8px;
    margin-top: 13px;
    vertical-align: top;
    width: 264px;
  }

  .match_btn{
    width: 100%;
    height: 220px;
    margin: 100px auto 0;
    border-radius: 20px;
    background: url(../images/intro/btn_small.svg) center;
    padding-top: 48px;
    min-width: 340px;
  }

  .btn_text_1{
    display: block;
  }

  .btn_text_2{
    display: block;
  }

  .question_wrapper{
    margin-top: 32px;
  }
}

@media (min-width:600px) and (max-width: 1024px) {
  .background_top{
    background-image: url(../images/makerIntro/maker_background_top_middle.svg);
  }

  .content_cover_top{
    width: 560px;
    height: 300px;
    border-radius: 40px;
    margin: auto;
  }

  .content_top{
    width: 464px;
    height: 144px;
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 24px;
  }

  .link_top{
    font-size: 18px;
    margin-bottom: 40px;
  }

  .contents_cover_middle{
    margin: 120px auto 0;
    width: 560px;
    > span{
      font-size: 24px;
    }
  }

  .content_title_middle{
    margin-top: 20px;
    font-size: 40px;
  }

  .contents_group_middle{
    margin-top: 60px;
    width: 100%;
    text-align: center;
    >div{
      border-radius: 40px;
      width: 560px;
      margin: 0 auto 30px;
    }
  }

  .content_1_middle{
    height: 700px;
    padding-top: 64px;
  }

  .content_4_middle{
    height: 600px;
  }

  .sub_1_img{
    width: 480px;
    height: 324px;
    margin: 0 auto;
    background-size: 480px;
    background: url(../images/makerIntro/content_1_3x2.svg) no-repeat;
  }

  .sub_4_img{
    width: 354px;
    height: 157px;
    background-size: 354px;
    overflow: auto;
    margin-top: 123.5px;
    float: right;
    margin-right: 44px;
  }

  .sub_1_text{
    font-size: 32px;
    margin-top: 88px;
    margin-left: 48px;
    float: left;
    text-align: left;
  }

  .sub_4_text{
    font-size: 32px;
    margin-top: 0px;
    margin-left: 48px;
    float: left;
    text-align: left;
  }

  .contents_sub_middle{
    height: 500px;
    padding-top: 40px;
  }

  .contents_sub_text{
    float: left;
    font-size: 24px;
    margin-left: 40px;
    text-align: left;
    width: 425px;
  }

  .contents_sub_img{
    width: 265px;
    height: 265px;
    margin: 147px auto auto;
  }

  .content_img_2{
    width: 400px;
    height: 338px;
    margin: 122px auto 0;
    background-size: 400px;
  }
  .content_text_sub_2{
    width: 414px;
    height: 72px;
  }

  .manual_title{
    font-size: 32px;
    margin-top: 160px;
  }

  .steps_group_middle{
    height: 1134px;
    padding-top: 120px;
    text-align: center;
    margin-top: 120px;
  }

  .first_line{
    height: 113px;
  }

  .after_line{
    height: 130px;
  }

  .finish_line{
    height: 102px;
  }

  .steps_number{
    margin-top: 80px;
    width: 15px;
    padding-top: 2.8px;
    >div{
      height: 31px;
      font-size: 24px;
      margin-bottom: 95.6px;
    }
  }

  .steps_group{
    width: 520px;
    display: inline-block;
    margin: 0 auto;
  }

  .background_bottom{
    padding-top: 120px;
  }

  .question_title_bottom{
    font-size: 32px;
  }

  .question_card{
    width: 560px;
  }

  .answer_group{
    width: 560px;
  }

  .question_icon{
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-top: 24px;
    margin-left: 32px;
    background-size: 32px;
  }

  .question_content{
    font-size: 18px;
    margin-left: 24px;
    margin-top: 29px;
    vertical-align: top;
  }

  .answer_icon{
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-top: 20px;
    margin-left: 32px;
    background-size: 32px;
  }

  .answer_content{
    font-size: 18px;
    margin-left: 24px;
    margin-top: 22px;
    vertical-align: top;
    width: 452px;
  }

  .match_btn{
    width: 560px;
    height: 300px;
    margin: 0 auto;
    margin-top: 120px;
    background: url(../images/intro/btn_middle.svg);
  }

  .question_wrapper{
    margin-top: 40px;
  }
}

@media (min-width:1024px){
  .background_top{
    background-image: url(../images/makerIntro/maker_background_top_large.svg);
  }

  .content_cover_top{
    width: 700px;
    height: 261px;
    border-radius: 40px;
    margin: auto;
  }

  .content_top{
    width: 604px;
    height: 108px;
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 24px;
  }

  .link_top{
    font-size: 18px;
    margin-bottom: 40px;
  }

  .contents_cover_middle{
    margin: 120px auto 0;
    width: 960px;
    > span{
      font-size: 24px;
    }
  }

  .content_title_middle{
    margin-top: 20px;
    font-size: 40px;
  }

  .contents_group_middle{
    margin-top: 60px;
    width: 100%;
    text-align: center;
    >div{
      border-radius: 40px;
      width: 960px;
      margin: 0 auto 30px;
    }
  }

  .content_1_middle{
    height: 500px;
    padding-top: 48px;
  }

  .content_4_middle{
    padding-top: 60px;
  }

  .sub_1_img{
    width: 580px;
    height: 392px;
    margin-left: 60px;
    background-size: 580px;
    background: url(../images/makerIntro/content_1_3x2.svg) no-repeat;
    display: inline-block;
    background-size: 580px;
    float: left;
  }

  .sub_4_img{
    display: inline-block;
    width: 395px;
    height: 175px;
    background-repeat: no-repeat;
    background-size: 395px;
    overflow: auto;
    margin-top: 218px;
    float: right;
    margin-right: 62px;
  }

  .sub_1_text{
    display: inline-block;
    font-size: 32px;
    text-align: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -40px;
    margin-left: -24px;
  }

  .sub_4_text{
    display: inline-block;
    float: left;
    margin-top: 0px;
    text-align: left;
    font-size: 32px;
    margin-left: 60px;
  }

  .contents_sub_middle{
    width: 465px !important;
    display: inline-block;
    margin-left: 15px !important;
    margin-right: 15px !important;
    height: 500px;
    vertical-align: top;
    padding-top: 40px;
  }

  .contents_sub_text{
    float: left;
    font-size: 24px;
    margin-left: 40px;
    text-align: left;
    width: 295px;
  }

  .contents_sub_img{
    width: 265px;
    height: 265px;
    margin: 147px auto auto;
  }

  .content_img_2{
    width: 400px;
    height: 338px;
    margin: 122px auto 0;
    background-size: 400px;
  }
  .content_text_sub_2{
    width: 339px;
    height: 108px;
  }

  .manual_title{
    font-size: 32px;
    margin-top: 120px;
  }

  .steps_group_middle{
    height: 1134px;
    padding-top: 120px;
    text-align: center;
    margin-top: 160px;
  }

  .first_line{
    height: 113px;
  }

  .after_line{
    height: 130px;
  }

  .finish_line{
    height: 102px;
  }

  .steps_number{
    margin-top: 80px;
    width: 15px;
    padding-top: 2.8px;
    >div{
      height: 31px;
      font-size: 24px;
      margin-bottom: 95.6px;
    }
  }

  .steps_group{
    width: 520px;
    display: inline-block;
    margin: 0 auto;
  }

  .background_bottom{
    padding-top: 120px;
  }

  .question_title_bottom{
    font-size: 32px;
  }

  .question_card{
    width: 960px;
  }

  .question_icon{
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-top: 24px;
    margin-left: 48px;
    background-size: 32px;
  }

  .question_content{
    font-size: 20px;
    margin-left: 24px;
    margin-top: 27px;
    vertical-align: top;
  }

  .answer_group{
    width: 960px;
  }

  .answer_icon{
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-top: 20px;
    margin-left: 48px;
    background-size: 32px;
  }

  .answer_content{
    font-size: 20px;
    margin-left: 24px;
    margin-top: 21px;
    vertical-align: top;
    width: 716px;
  }

  .match_btn{
    width: 960px;
    height: 300px;
    margin: 0 auto;
    margin-top: 120px;
    background: url(../images/intro/btn_large.svg);
  }

  .question_wrapper{
    margin-top: 40px;
  }
}

