@import "./configs.scss";

.center_align{
    margin: 0 auto;
    width: 1030px;
}

.body_color{
    background: #C7C7C7;
    width: 100%;
    height: 100%;
}

.top {
    height: 60px;
    border-bottom: 1px solid $gray_2;
    padding: 14px 0px;
}

.button_container {
    display: flex;
    justify-content: right;
    >div {
        width: 70px;
        margin-left: 10px;
    }
}

.create_button {
    display: flex;
    justify-content: right;
    >div {
        width: 100px;
    }
}

.project_create_box {
    width: 90%;
    max-width: 500px;
    margin: auto;
}

.content {
    padding: 40px 0px;
    border: 1px solid $gray_2;
    border-radius: 4px;
    margin: 40px 0px;
}

.blank {
    background-color: $gray_2;
    margin: 30px 0px;
}

.music_wrapper {
    margin: auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image_wrapper {
    height: 330px;
}

.video_wrapper {
    position: relative;
    height: 571px;
}

.setting {
    padding: 40px;
    padding-top: 0px;
    border-bottom: 1px solid $gray_2;
    >.title {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 16px;
    }
    >.checkbox {
        display: flex;
        >div {
            margin-right: 10px;
        }
    }
}

.box {
    border: 1px solid $gray_2;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 20px;
    .title {
        font-weight: 500;
        font-size: 13px;
        margin-bottom: 10px;
        color: $gray_6;
    }
    .subtitle {
        color: $gray_4;
        font-size: 13px;
    }
}

.box_content {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.music_box {
    width: 500px;
    height: 500px;
}

.image_box {
    position: inherit !important;
    width: 100%;
    height: 100%;
}

.video_box {
    position: absolute;
    width: 100%;
    height: 100%;
}

.edit_wrapper {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    >.buttons {
        width: 200px;
        >div {
            margin-bottom: 10px;
        }
    }
}

.text_wrapper {
    padding: 40px;
}

.project_detail_upload {
    display: flex;
    justify-content: center;
    >div:first-child > div {
        width: 320px;
        margin-right: 20px;
    }
    >div:last-child {
        width: 100%;
        max-width: 780px;
    }
    .upload_box {
        width: 280px;
        height: 280px;
        margin: 20px 0px;
        background-position: center center;
        background-size: cover;
        border: 1px dashed #ccc;
        padding: 30px;
        display: flex;
        flex-direction: column;
        text-align: center;
        color: $gray_4;
        >div:first-child {
            margin-bottom: auto;
            margin-top: auto;
        }
    }
    .has_image {
        border: 0px solid !important;
        > * {
            display: none;
        }
        &:hover > * {
            display: block;
        }
    }
}

.newArtist {
    color: #3380F4;
    cursor: pointer;
}

.side_title{
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #616161;
    margin-top: 8px;
    margin-left: 20px;
}

.side_login{
    width: 79px;
    height: 36px;
    text-align: center;
    display:table-cell;
    vertical-align:middle;
    background: #ffffff;
    border: 1px solid #E8E8E8;
    color: #1d1d1d;
    &:hover{
        background: #1d1d1d;
        border: 1px solid #1d1d1d;
        color: #ffffff;
    }
}

.side_signup{
    width: 92px;
    height: 36px;
    text-align: center;
    display:table-cell;
    vertical-align:middle;
    margin-left: 12px;
}

.side_nav_1{
    background: url(../images/project/side_nav_1.svg);
    width: 24px;
    height: 24px;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: top;
}

.side_nav_2{
    background: url(../images/project/side_nav_2.svg);
    width: 24px;
    height: 24px;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: top;
}

.side_nav_3{
    background: url(../images/project/side_nav_3.svg);
    width: 24px;
    height: 24px;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: top;
}

.side_nav_content{
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #1D1D1D;
    vertical-align: top;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 8px;
    margin-top: 2px;
}

.side_link_wrapper{
    margin-left: 20px;
    > a{
        margin-right: 16px;
        font-family: Spoqa Han Sans Neo;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 150%;
        color: #616161;
    }
}

.side_sns_wrapper{
    margin-left: 13px;
    margin-top: 16px;
    > a{
        width: 40px;
        height: 26px;
        display: inline-block;
        >div{
            width: 40px;
            height: 26px;
        }
    }
}

.side_sns_1{
    background: url(../images/project/side_sns_1.svg);
}

.side_sns_2{
    background: url(../images/project/side_sns_2.svg);
}

.side_sns_3{
    background: url(../images/project/side_sns_3.svg);
}

.side_sns_4{
    background: url(../images/project/side_sns_4.svg);
}

.side_bottom_content{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;
    color: #616161;
    margin: 32px 0px 24px 20px;
}

.side_right_wrapper{
    width: 0%;
    display: none;
    background: rgba(0, 0, 0, 0.8);
}

.side_fake_wrapper{
    display: none;
}

@media (max-width: 600px) {
    .card_wrapper{
        width: 100%;
        padding: 20px;
        margin-top: 4px;
    }

    .card{
        display: inline-block;
        width: calc(100vw - 59px);
        height: calc((100vw - 59px) + 49px);
        min-width: 280px;
        min-height: 322.875px;
        border: none;
        background: none;
        margin: 0 auto 20px;
    }
}

@media (min-width: 600px) and (max-width: 840px) {
    .card_wrapper{
        width: 100%;
        padding: 14px;
        margin-top: 4px;
    }

    .card{
        display: inline-block;
        width: calc((100vw - 87px) / 2);
        height: calc((100vw - 87px) / 2 + 49px);
        min-width: 0px;
        min-height: 0px;
        border: none;
        background: none;
        margin: 10px 10px 14px;
    }
}

@media (min-width: 840px) and (max-width: 1024px) {
    .side_right_wrapper{
        width: calc(100% - 360px);
        height: 100vh;
        display: inline-block !important;
        vertical-align: top;
        float: left;
    }
    .side_wrapper{
        width: 360px;
        float: right;
        display: inline-block !important;
        vertical-align: top;
    }

    .card_wrapper{
        width: 100%;
        padding: 14px;
        margin-top: 4px;
    }

    .card{
        display: inline-block;
        width: calc((100vw - 107px) / 3);
        height: calc((100vw - 107px) / 3 + 49px);
        min-width: 235px;
        min-height: 299.8125px;
        border: none;
        background: none;
        margin: 10px 10px 14px;
    }
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .side_wrapper{
        display: none;
    }
    .side_fake_wrapper{
        display: block;
    }
    .side_right_wrapper{
        display: none;
    }

    .card_wrapper{
        width: 100%;
        padding: 14px;
        margin-top: 16px;
    }

    .card{
        display: inline-block;
        width: calc((100vw - 127px) / 4);
        height: calc((100vw - 127px) / 4 + 49px);
        min-width: 0px;
        min-height: 0px;
        border: none;
        background: none;
        margin: 10px 10px 14px;
    }
}

@media (min-width: 1440px) and (max-width: 1828px) {
    .side_wrapper{
        display: none;
    }
    .side_fake_wrapper{
        display: block;
    }

    .card_wrapper{
        width: 100%;
        padding: 14px;
        margin-top: 16px;
    }

    .card{
        display: inline-block;
        width: calc(100% / 5);
        height: calc(100% / 5 + 49px);
        border: none;
        background: none;
        margin: 10px 10px 14px;
    }
}

@media (min-width: 1828px) {
    .side_wrapper{
        display: none;
    }
    .side_fake_wrapper{
        display: block;
    }

    .card_wrapper{
        width: 100%;
        padding: 14px;
        margin-top: 16px;
    }

    .card{
        display: inline-block;
        width: calc((100vw - 165px) / 6);
        height: calc((100vw - 165px) / 6 + 49px);
        border: none;
        background: none;
        margin: 10px 10px 14px;
    }
}
