@import "./configs.scss";

.center_align{
    margin: 0 auto;
    width: 1030px;
}

.body_color{
    background: #FAFAFA;
    width: 100%;
    height: 100%;
}

.top {
    height: 60px;
    border-bottom: 1px solid $gray_2;
    padding: 14px 0px;
}

.button_container {
    display: flex;
    justify-content: right;
    >div {
        width: 70px;
        margin-left: 10px;
    }
}

.create_button {
    display: flex;
    justify-content: right;
    >div {
        width: 100px;
    }
}

.project_create_box {
    width: 90%;
    max-width: 500px;
    margin: auto;
}

.content {
    padding: 40px 0px;
    border: 1px solid $gray_2;
    border-radius: 4px;
    margin: 40px 0px;
}

.blank {
    background-color: $gray_2;
    margin: 30px 0px;
}

.music_wrapper {
    margin: auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image_wrapper {
    height: 330px;
}

.video_wrapper {
    position: relative;
    height: 571px;
}

.setting {
    padding: 40px;
    padding-top: 0px;
    border-bottom: 1px solid $gray_2;
    >.title {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 16px;
    }
    >.checkbox {
        display: flex;
        >div {
            margin-right: 10px;
        }
    }
}

.box {
    border: 1px solid $gray_2;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 20px;
    .title {
        font-weight: 500;
        font-size: 13px;
        margin-bottom: 10px;
        color: $gray_6;
    }
    .subtitle {
        color: $gray_4;
        font-size: 13px;
    }
}

.box_content {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.music_box {
    width: 500px;
    height: 500px;
}

.image_box {
    position: inherit !important;
    width: 100%;
    height: 100%;
}

.video_box {
    position: absolute;
    width: 100%;
    height: 100%;
}

.edit_wrapper {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    >.buttons {
        width: 200px;
        >div {
            margin-bottom: 10px;
        }
    }
}

.text_wrapper {
    padding: 40px;
}

.project_detail_upload {
    display: flex;
    justify-content: center;
    >div:first-child > div {
        width: 320px;
        margin-right: 20px;
    }
    >div:last-child {
        width: 100%;
        max-width: 780px;
    }
    .upload_box {
        width: 280px;
        height: 280px;
        margin: 20px 0px;
        background-position: center center;
        background-size: cover;
        border: 1px dashed #ccc;
        padding: 30px;
        display: flex;
        flex-direction: column;
        text-align: center;
        color: $gray_4;
        >div:first-child {
            margin-bottom: auto;
            margin-top: auto;
        }
    }
    .has_image {
        border: 0px solid !important;
        > * {
            display: none;
        }
        &:hover > * {
            display: block;
        }
    }
}

.newArtist {
    color: #3380F4;
    cursor: pointer;
}

.side_title{
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #616161;
    margin-top: 8px;
    margin-left: 20px;
}

.side_login{
    width: 79px;
    height: 36px;
    text-align: center;
    display:table-cell;
    vertical-align:middle;
    background: #ffffff;
    border: 1px solid #E8E8E8;
    color: #1d1d1d;
    &:hover{
        background: #1d1d1d;
        border: 1px solid #1d1d1d;
        color: #ffffff;
    }
}

.side_signup{
    width: 92px;
    height: 36px;
    text-align: center;
    display:table-cell;
    vertical-align:middle;
    margin-left: 12px;
}

.side_nav_1{
    background: url(../images/project/side_nav_1.svg);
    width: 24px;
    height: 24px;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: top;
}

.side_nav_2{
    background: url(../images/project/side_nav_2.svg);
    width: 24px;
    height: 24px;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: top;
}

.side_nav_3{
    background: url(../images/project/side_nav_3.svg);
    width: 24px;
    height: 24px;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: top;
}

.side_nav_4{
    background: url(../images/project/side_nav_4.svg);
    width: 24px;
    height: 24px;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: top;
}

.side_nav_5{
    background: url(../images/project/side_nav_5.svg);
    width: 24px;
    height: 24px;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: top;
}

.side_nav_6{
    background: url(../images/project/side_nav_6.svg);
    width: 24px;
    height: 24px;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: top;
}

.side_nav_content{
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #1D1D1D;
    vertical-align: top;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 8px;
    margin-top: 2px;
}

.side_link_wrapper{
    margin-left: 20px;
    > a{
        margin-right: 16px;
        font-family: Spoqa Han Sans Neo;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 150%;
        color: #616161;
    }
}

.side_sns_wrapper{
    margin-left: 13px;
    margin-top: 16px;
    > a{
        width: 40px;
        height: 26px;
        display: inline-block;
        >div{
            width: 40px;
            height: 26px;
        }
    }
}

.side_sns_1{
    background: url(../images/project/side_sns_1.svg);
}

.side_sns_2{
    background: url(../images/project/side_sns_2.svg);
}

.side_sns_2_1{
    background: url(../images/project/side_sns_2_1.svg);
}

.side_sns_3{
    background: url(../images/project/side_sns_3.svg);
}

.side_sns_4{
    background: url(../images/project/side_sns_4.svg);
}

.side_bottom_content{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;
    color: #616161;
    margin: 32px 0px 24px 20px;
}

.side_right_wrapper{
    width: 0%;
    display: none;
    background: rgba(0, 0, 0, 0.8);
}

.side_fake_wrapper{
    display: none;
}

.card_group{
    display: inline-block;
    vertical-align: top;
}

.card_button{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    border: none;
    cursor: pointer;
    background: none;
}

.card_main{
    position: relative;
    width: 100%;
    min-height: 200px;
    &:hover > .card_main_background{
        display: inline-block;
        margin-left: -50%;
    }
}
.card_main:after{
    content: "";
    display: block;
    padding-bottom: 100%;
}

.card_main_img{
    border-radius: 4px;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit:cover;
    margin-left: -50%;
}

.card_main_background{
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    border-radius: 4px;
    display: none;
}

.card_main_background_title{
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    position: absolute;
    bottom: 12px;
    left: 12px;
    right: 12px;
    width: calc(100% - 24px);
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card_meta{
    width: 100%;
    height: 49px;
}

.card_meta_title{
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #1D1D1D;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 21px;
    margin-top: 8px;
}

.card_meta_img{
    width: 20px;
    height: 20px;
    object-fit:cover;
    border-radius: 10px;
    float: left;
    display: inline-block;
}

.card_meta_nickname{
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: #1D1D1D;
    text-align: left;
    margin-left: 4px;
    display: inline-block;
    float: left;
    margin-top: 1px;
}

.side_menu_wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 2000;
}

.side_wrapper{
    background: #ffffff;
    min-width: 280px;
}

.nav_mobile{
    width: 118px;
    height: 40px;
    margin-top: 28px;
    margin-left: 19px;
}

.nav_desktop{
    padding: 12px 20px;
    display: inline-block;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
    >div{
        font-family: Spoqa Han Sans Neo;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        text-align: center;
        color: #1D1D1D;
        margin-top: -1px;
        margin-left: -4px;
    }

    &:hover{
        background: #FAFAFA;
        border: 1px solid #CCCCCC;
        >div{
            color: #1D1D1D;
        }
    }

}

.nav_desktop_active{
    padding: 12px 20px;
    display: inline-block;
    background: #1D1D1D;
    border: 1px solid #1D1D1D;
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
    >div{
        font-family: Spoqa Han Sans Neo;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        text-align: center;
        color: #ffffff;
        margin-top: -1px;
        margin-left: -4px;
    }

}

.nav_desktop_wrapper{
    padding-top: 40px;
    margin-left: 20px;
    display: none;
    >button{
        margin-left: 4px;
        margin-right: 4px;
    }
}


.side_login_top{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #E8E8E8;
}

.side_login_top_img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 20px;
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
    vertical-align: top;
}

.side_login_top_info{
    display: inline-block;
    margin-left: 8px;
    margin-top: 20px;
}
.side_login_top_nickname{
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #1D1D1D;
}
.side_login_top_id{
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 170%;
    color: #616161;
}

.side_login_top_close{
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
    border: none;
    padding: 0;
    background: url(../images/icons/close.svg);
}


@media (max-width: 600px) {
    .card_wrapper{
        width: 100%;
        padding: 10px;
        margin-top: 4px;
    }

    .card_group{
        width: calc(100%);
        padding: 10px;
        min-width: 220px;
        min-height: 250.625px;
    }
}

@media (min-width: 600px) and (max-width: 840px) {
    .card_wrapper{
        width: 100%;
        padding: 14px;
        margin-top: 4px;
    }

    .card_group{
        width: calc(100% / 2);
        padding: 10px;
    }
}

@media (min-width: 840px) and (max-width: 1024px) {
    .side_right_wrapper{
        width: calc(100% - 500px);
        height: 100vh;
        display: inline-block !important;
        vertical-align: top;
        float: left;
    }
    .side_wrapper{
        width: 500px;
        float: right;
        display: inline-block !important;
        vertical-align: top;
    }

    .card_wrapper{
        width: 100%;
        padding: 14px;
        margin-top: 4px;
    }

    .card_group{
        width: calc(100% / 3);
        padding: 10px;
    }
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .side_menu_wrapper{
        display: none;
    }
    .side_wrapper{
        display: none !important;
    }
    .side_fake_wrapper{
        display: block;
    }
    .side_right_wrapper{
        display: none;
    }

    .card_wrapper{
        width: 100%;
        padding: 14px;
        margin-top: 12px;
    }
    .card_group{
        width: calc(100% / 4);
        padding: 10px;
    }

    .card_meta{
        height: 32px;
        padding-top: 8px;
    }

    .card_meta_title{
        display: none;
    }

    .card_meta_img{
        width: 24px;
        height: 24px;
        border-radius: 12px;
    }

    .card_meta_nickname{
        margin-top: 3px;
    }

    .nav_mobile{
       display: none;
    }

    .nav_desktop_wrapper{
       display: block;
    }
}

@media (min-width: 1440px) and (max-width: 1828px) {
    .side_menu_wrapper{
        display: none;
    }
    .side_wrapper{
        display: none;
    }
    .side_fake_wrapper{
        display: block;
    }

    .card_wrapper{
        width: 100%;
        padding: 14px;
        margin-top: 12px;
    }

    .card_group{
        width: calc(100% / 5);
        padding: 10px;
    }

    .nav_mobile{
        display: none;
    }

    .nav_desktop_wrapper{
        display: block;
    }
}

@media (min-width: 1828px) {
    .side_menu_wrapper{
        display: none;
    }
    .side_wrapper{
        display: none;
    }
    .side_fake_wrapper{
        display: block;
    }

    .card_wrapper{
        width: 100%;
        padding: 14px 60px;
        margin-top: 12px;
    }

    .card_group{
        width: calc(100% / 6);
        padding: 10px;
    }

    .nav_mobile{
        display: none;
    }

    .nav_desktop_wrapper{
        margin-left: 70px;
        display: block;
    }
}
