.main_wrapper{
  background: #ffffff;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 100px;
  min-width: 320px;
}

.main_title{
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  color: #1D1D1D;
  font-size: 20px;
  margin-left: 40px;
}

.all_right_reserved{
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 170%;
  color: #A8A8A8;
}

.main_img_wrapper{
  margin-top: 28px;
  margin-left: 36px;
}

.main_field{
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 170%;
  color: #1D1D1D;
  margin-left: 40px;
  margin-top: 2px;
  margin-bottom: 36px;
}

.card_img{
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}

.card_youtube{
  width: 100%;
  height: calc(100vw * 117.5 / 210);
  margin-bottom: 40px;
}

.card_text{
  width: auto;
  margin: 0 20px 0;
  > pre{
    margin: 0;
    font-family: Spoqa Han Sans Neo;
    font-size: 14px;
  }
}

.main_hashtag_wrapper{
  list-style: none;
  padding: 0px;
  margin: -12px 38px 0;

  > li {
    display: inline-block;
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 170%;
    color: #3380F4;
    margin-left: 2px;
    margin-right: 2px;
  }
}

.main_info{
  margin: 12px 40px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #e8e8e8;
  > div{
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 170%;
    color: #1D1D1D;
  }
}

.main_btn_group{
  position: relative;
  height: 48px;
  bottom: 48px;
  float: right;
  margin-right: -5px;
  > div{
    width: 48px;
    height: 48px;
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
  }
}

.main_share_btn{
  background: url(../images/project/share.svg);
  &:hover{
    background: url(../images/project/share_active.svg);
  }
}

.main_info_btn{
  background: url(../images/project/info.svg);
  &:hover{
    background: url(../images/project/info_active.svg);
  }
}

.main_artist{
  padding-top: 28px;
  margin-right: 40px;
  margin-left: 40px;
  padding-bottom: 36px;
  border-bottom: 1px solid #e8e8e8;
}

.main_artist_title{
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 170%;
  color: #616161;
}

.main_artist_name{
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #1D1D1D;
  margin-left: 60px;
  margin-top: 16px;
}

.main_artist_info{
  height: 22px;
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 170%;
  color: #616161;
  margin-left: 60px;
  margin-top: 4px;
}

.main_artist_img{
  width: 48px;
  height: 48px;
  border-radius: 24px;
  object-fit: cover;
  position: relative;
  bottom: 48px;
  float: left;
}

.tech_btn{
  border-radius: 4px;
  height: 24px;
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  color: #FFFFFF;
  width: auto;
  display: inline-block;
  padding: 6px 12px;
  margin-left: 3px;
  margin-right: 3px;
}

.back_btn{
  display: none;
}

.popover_content{
  height: 30px;
  width: 150px;
  padding: 4px 20px 2px;
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 170%;
  color: #1D1D1D;
  background: #ffffff;
  &:hover{
    background: #E8E8E8;
  }
}

.pop_btn{
  display: inline-block;
  float: right;
  width: 66px;
  height: 36px;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 11px;
  vertical-align: top;
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  border-radius: 2px;
}

.delete_btn{
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  color: #F43333;
  &:hover{
    background: #F43333;
    color: #ffffff;
  }
}

.cancle_btn{
  background: #fafafa;
  border: 1px solid #fafafa;
  color: #1D1D1D;
  &:hover{
    background: #E8E8E8;
    border: 1px solid #e8e8e8;
  }
}

.facebook_icon{
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background: url(../images/project/facebook.svg);
}

.twitter_icon{
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background: url(../images/project/twitter.svg);
}

.kakao_icon{
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background: url(../images/project/kakao.svg);
}

.kakako_wrapper{
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-right: 20px;
}

.kakao_btn{
  width: 48px;
  height: 48px;
  background: none;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.default_icon{
  width: 48px;
  height: 48px;
  margin-right: 20px;
  display: inline-block;
  background: url(../images/project/default_share.svg);
  cursor: pointer;
  outline: none;
  border: none;
}

.delete_contents{
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #1D1D1D;
  margin-left: 20px;
  margin-right: 20px;
}

.share_title{
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  color: #1D1D1D;
  padding-top: 24px;
}

.share_wrapper{
  display: inline-block;
  width: 252px;
  margin: 24px auto 12px;
  display: flex;
}

.name_wrapper{
  display: inline-block;
  width: 272px;
  margin: 0 auto;
  display: flex;
  > div{
    width: 68px;
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 100%;
    text-align: center;
    color: #1D1D1D;
  }
}

.link{
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  width: calc(100% - 40px);
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #616161;
  padding: 8px 10px;
  height: 36px;
  margin: 24px 20px 12px;
}

@media (max-width: 600px){
  .main_wrapper{
    padding-top: 28px;
  }

  .main_title{
    font-size: 18px;
    margin-left: 20px;
  }

  .main_info{
    margin-left: 20px;
    margin-right: 20px;
  }

  .main_field{
    font-size: 12px;
    margin-left: 20px;
    margin-bottom: 24px;
  }

  .main_artist{
    margin-right: 20px;
    margin-left: 20px;
  }

  .main_img_wrapper{
    margin-left: 16px;
  }

  .card_img{
    margin-bottom: 20px;
  }

  .card_youtube{
    margin-bottom: 20px;
  }

  .main_hashtag_wrapper{
    margin-top: 8px;
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (min-width: 600px) and (max-width: 1024px){
  .main_title{
    margin-left: 24px;
  }

  .main_field{
    margin-left: 24px;
  }

  .main_info{
    margin-left: 24px;
    margin-right: 24px;
  }

  .main_artist{
    margin-right: 24px;
    margin-left: 24px;
  }

  .main_img_wrapper{
    margin-left: 20px;
  }

  .main_hashtag_wrapper{
    margin-top: 8px;
    margin-left: 22px;
    margin-right: 22px;
  }

  .card_text{
    margin: 0 40px 0;
  }
}

@media (min-width: 1024px) and (max-width: 1680px){
  .main_wrapper{
    width: auto;
    margin: 40px 140px 100px;
    border: 1px solid #E8E8E8;
    border-radius: 20px;
    padding-bottom: 80px;
  }

  .card_youtube{
    width: 100%;
    height: calc((100vw - 280px) * 117.5 / 210);
  }

  .card_text{
    margin: 0 40px 0;
  }

  .back_btn{
    display: inline-block;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 96px;
    left: 40px;
    background: url(../images/project/back_btn.svg);
    cursor: pointer;
  }
}

@media (min-width: 1680px){
  .main_wrapper{
    width: 1400px;
    margin: 40px auto 100px;
    border: 1px solid #E8E8E8;
    border-radius: 20px;
    padding-bottom: 80px;
  }

  .card_youtube{
    width: 100%;
    height: calc(1400px * 117.5 / 210);
  }

  .card_text{
    margin: 0 44px 0;
  }

  .back_btn{
    display: inline-block;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 96px;
    left: 40px;
    background: url(../images/project/back_btn.svg);
    cursor: pointer;
  }
}
