@import "/styles/configs.scss";

.input_group {
    margin-top: 16px;
}

.input_group > div {
    margin-bottom: 15px;
}

.create_btn_group {
    width: 100%;
    > div{
        height: 56px;
    }
}

.sns_button_group {
    width: 100%;
    text-align: center;
    margin-top: 12px;
}

.sns_button_group > div {
    display: inline-block;
    margin-right: 16px;
    margin-left: 16px;
    width: 56px;
    height: 56px;
    border-radius: 28px;
    > div{
        width: 56px;
        height: 56px;
        background: black;
        opacity: 0;
    }
}



.bottom {
    display: flex;
    justify-content: space-between;
}

.link {
    cursor: pointer;
}

.complete {
    font-weight: bold;
    font-size: 24px;
    color: $gray_6;
}

.signin {
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    border-bottom: 1px solid black;
    margin: 0;
    > span{
        margin: 0 !important
    }
}

.sns_link {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    font-size: 13px;
    > span{
        font-family: "Spoqa Han Sans Neo";
        font-weight: 400;
    }
}

.create_btn {
    width: 100% !important;
    margin-top: 40px;
    font-style: normal;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 500;
    font-size: 18px;
}

.input_non_autofill  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    width: 100%;
    border: 0px solid;
    outline: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    font-family: "Spoqa Han Sans Neo";
    color: #1D1D1D;
}

.timer_default{
    font-size:14px;
    font-family:"Spoqa Han Sans Neo";
    margin-right:8px;
    color: #3380F4;
}

.timer_error{
    font-size:14px;
    font-family:"Spoqa Han Sans Neo";
    margin-right:8px;
    color: #F43333;
}

.complete_btn_top {
    width: 100% !important;
    margin-top: 48px;
    font-style: normal;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 500;
    font-size: 16px;
}

.complete_btn_bottom {
    width: 100% !important;
    margin-top: 12px;
    font-style: normal;
    font-family: "Spoqa Han Sans Neo";
    font-weight: 500;
    font-size: 16px;
    background: #ffffff !important;
    color: #1d1d1d !important;
    border: 1px solid #e8e8e8 !important;
    &:hover {
        background: #e8e8e8 !important;
    }
}

.naver_btn{
    width: 100%;
    height: 56px;
    background-color: #1EC800;
    border-radius: 4px;
    padding-top: 21px;
    padding-left: calc(50% - 86px);
    padding-right: calc(50% - 86px);
    cursor: pointer;
    > div{
        display: inline-block;
        font-family: Spoqa Han Sans Neo;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        text-align: center;
        color: #FFFFFF;
        vertical-align: top;
        margin-right: 4px;
    }
}

.naver_icon{
    background: url(../images/icons/naver_icon.svg);
    width: 24px !important;
    height: 24px;
    margin-top: -4px;
}

.kakao_btn{
    margin-top: 16px;
    width: 100%;
    height: 56px;
    background-color: #FAE300;
    border-radius: 4px;
    padding-top: 21px;
    padding-left: calc(50% - 86px);
    padding-right: calc(50% - 86px);
    cursor: pointer;
    > div{
        display: inline-block;
        font-family: Spoqa Han Sans Neo;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        text-align: center;
        color: #1D1D1D;
        vertical-align: top;
        margin-right: 4px;
    }
}

.kakao_icon{
    background: url(../images/icons/kakao_icon.svg);
    width: 24px !important;
    height: 24px;
    margin-top: -4px;
}
