/front/node_modules/
/front/.next/
/client/node_modules/
/client/.next/
/react-brmn.pem
/brmn_jindol.pem
/front/.env
/back/node_modules/
/back/.env
/node_modules/
/brmn_front_key.pem
/brmn_back_key.pem
/front/.next/
