@import "/styles/configs.scss";

.component {
    border-radius: 30px;
    background-color: #eee;
    display: inline-block;
    background-position: center center;
    background-size: cover;
}

.profile {
    cursor: pointer;
    background-color: #eee;
}