$color: #25D38A;

.impact {
    font-weight: 400;
    font-family: "Spoqa Han Sans Neo";
    font-size: 13px;
    text-decoration-line: underline;
    text-underline-position: under;
    color: #1d1d1d;
}

.choice {
    font-weight: 400;
    font-family: "Spoqa Han Sans Neo";
    font-size: 13px;
    color: #616161;
}

.agreements {
    display: flex;
}

.content {

}

.subtitle {
    font-size: 12px;
    line-height: 170%;
    color: #616161;
    margin-bottom: 10px;
}

.toggle {
    font-size: 12px;
    line-height: 150%;
    text-align: right;
    text-decoration-line: underline;
    color: #616161;
    margin-left: auto;
    cursor: pointer;
}

.agreement {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    > span {
        font-size: 12px;
        line-height: 150%;
        text-align: right;
        cursor: pointer;
    }
}
