@import "/styles/configs.scss";

.menu {
    background-color: $main_header;
    display: flex;
    height: 56px;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 0px 20px;
    border-bottom: 1px solid #E8E8E8;
    min-width: 280px;
}

.left {
    display: flex;
    align-items: center;
}

.right {
    display: flex;
    align-items: center;
    >* {
        margin-left: 8px;
    }
}

.menu_items {
    display: flex;
    margin: 0px 10px;
}

.menu_item:hover, .menu_item.active {
    padding-top: 4px;
    border-bottom: 2px solid $header_action;
}

.menu_item {
    margin: 0px 20px;
    display: flex;
    align-items: center;
    word-wrap: unset;
    height: 56px;
    cursor: pointer;
    color: #1d1d1d;
    font-size: 16px;
}


.searchWrapper {
    width: 400px;
}

.right_mobile {
    display: none;
}

.logo_small {
    display: none;
    cursor: pointer;
}

.logo {
    cursor: pointer;
    display: flex;
    align-items: center;
}

@media (max-width: 1024px) {
    .menu {
        padding: 10px 20px;
    }
    .menu_items, .right, .searchWrapper {
        display: none;
    }
    .logo{
        display: flex;
    }
    .right_mobile {
        display: block;
        display: flex;
        >* {
            margin-left: 10px;
        }
        >div{
            width: 24px;
            height: 24px;
        }
    }
    .logo_small {
        display: none;
    }
}

.signin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: 100%;
    max-width: 79px;
    height: auto;
    > a {
        color: $gray_3;
        text-decoration: none;

        &:hover {
            color: #fff;
        }
    }
}

.create {
    width: 134px;
    height: 36px;
    padding: 8px 10px;
    font-size: 14px;
    background: #ffffff;
    color: #1d1d1d;
}

.signup {
    height: 100%;
    width: 92px;
    max-height: 36px;
    padding: 8px 20px;
    background: #1d1d1d;
    color: #ffffff;
    font-size: 14px;
    border-radius: 2px;
}

.login {
    height: 100%;
    width: 79px;
    max-height: 36px;
    padding: 8px 20px;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    font-size: 14px;
    color: #1D1D1D;
    border-radius: 2px;
}

.upload{
    width: 70px !important;
    height: 32px !important;
    background: #33F4A3 !important;
    border-radius: 2px;
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    color: #1D1D1D !important;
    &:hover{
        background: #15C07E !important;
    }
}

.uploadBtn{
    width: 83px !important;
}

.dropdown {
    width: 280px;
    height: 261px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    background: #ffffff;
    border-radius: 4px;
}

.dropdown_top {
    width: 280px;
    height: 104px;
    border-bottom: 1px solid #E8E8E8;
}

.dropdown_bottom {
    width: 280px;
    height: 156px;
    padding-top: 12px;
    > a{
        margin: 0;
        padding-left: 16px;
        padding-top: 5px;
        width: 100%;
        height: 32px;
        &:hover{
            background: #E8E8E8;
            color: #1D1D1D;
        }
    }

    > div{
        margin: 0;
        padding-left: 16px;
        padding-top: 5px;
        width: 100%;
        height: 32px;
        &:hover{
            background: #E8E8E8;
            color: #1D1D1D;
        }
    }
}

.dropdown_item_top{
    margin-left: 12px;
    display: inline-block;
    width: 160px;
    vertical-align: top;
    margin-top: 20px;
    >span{
        display: inline-block;
    }
}

.dropdown_item_bottom {
    display: block;
    height: 24px;
    margin: 4px;
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 170%;
    color: #1D1D1D;
    cursor: pointer;
}

.dropdown_item_top_first{
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #1D1D1D;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.dropdown_item_top_second{
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 170%;
    color: #616161;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.dropdown_button{
    background: rgba(255, 255, 255, 0);
    border: 0px;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
}
